

	<div class="relative">
		<div class="my-3.5">
			<div class=" rounded shadow-xl border-gsp-darkblue w-36  h-[600px] border relative">
				<div class="w-full z-0 h-full -mt-3">
				   <div class="scale"></div>
				   <div class="scale">- 10 Mio -</div>
				   <div class="scale">- 8 Mio -</div>
				   <div class="scale">- 6 Mio -</div>
				   <div class="scale">- 4 Mio -</div>
				   <div class="scale">- 2 Mio -</div>

				</div>
				<div
                    title = "{{ ZusGen.calc_balance }} €"
					class="w-full bg-gsp-darkblue z-150  absolute bottom-0 bg-opacity-80"
					style="height: {{ ZusGen.fill_height }}%;"> </div>
			</div>
		</div>
	</div>


