

	<div class="relative mx-10">
		<div class="my-3.5">
			<div class="w-36 items-center m-auto rounded shadow-xl border-gsp-green  h-[200px] border relative">
				<div class="w-full z-0 h-full -mt-3">
				   <div class="scale-sm"></div>
				   <div class="scale-sm">- 3 Mio - </div>
				   <div class="scale-sm">- 2 Mio -</div>
				   <div class="scale-sm">- 1 Mio -</div>
				   </div>
				<div
                    title = "{{ ZusDk.calc_balance }} €"
					class="w-full bg-gsp-green absolute bottom-0 opacity-80"
					style="height: {{ ZusDk.fill_height_sm }}%;">
				</div>
			</div>
		</div>
	</div>


