label {
  @apply font-bold;
}

form {
  max-width: 350px;
  p {
    @apply flex mb-2;

    label {
      width: 10em;
      @apply font-bold text-left block text-gray mb-1 md:mb-0 pr-3;
    }
    input, select {
      width: 100%;
      @apply rounded appearance-none border-2 border-gray rounded w-full py-2 px-4 text-gray leading-tight focus:outline-none focus:bg-gsp-lightgreen focus:border-gsp-green;
    }
  }
  .button {
  @apply rounded border-none text-white font-bold uppercase py-2 px-5 shadow;
}
}