@tailwind base;
@tailwind components;
@tailwind utilities;

@import "forms";

.helptext {
  max-width: 350px;
  text-align: right;
}

.scale, .scale-sm {
  @apply text-gray h-[16.6%] font-bold text-center align-text-bottom;
}

.scale-sm {
  @apply h-[25%];
}