<!DOCTYPE html>
{% load django_vite %}

<html lang="de">
<head>
  <title>GSP Spendenbarometer</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block css %}
    {% vite_hmr_client %}
    {% vite_asset 'src/main.js' %}
  {% endblock %}
</head>

<body >
<!-- <h1 class="text-4xl m-auto mt-6 mb-12 text-center">GSP Spendenbarometer</h1> -->
<div class="navigation m-auto mt-6">
    <a href="/"><button class="nav-button rounded shadow font-bold" >Zusagen</button></a>
    <a href="/konto"><button class="nav-button rounded font-bold">GSP-Konto</button></a>
    <a href="/baukosten"><button class="nav-button rounded font-bold">Baukosten</button></a>
</div>

{% block content %}
{% endblock %}



</body>

<style>
    .nav-button {
        background-color:#18486b ;
        color: white;
        padding: 10px 10px;
        border-radius: 5px 5px 0px 0px;
        margin-right: 3px;
        margin-left: 3px;
        box-shadow: 2px 2px 2px 2px #9CD8C7;
    }

    .navigation {
        display: flex;
        justify-content: center;

        align-content: center;
    }
</style>