<script>

</script>

<div>
<div class="container m-auto text-center mt-24">
    <form action="{% url 'zusagen' %}" method='POST'>{% csrf_token %}
        {{ form.as_p }}
        <button id="partytime" class="bg-gsp-red button" type="submit" onclick="hidden">speichern</button>
    </form>
</div>
</div>


