{% extends 'base.html' %}

{% block content %}
 <div class=" flex justify-center container mt-12">
 <div class="mr-36">
{% include 'form.html' %}
<div class="mt-12 helptext">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
</div>
</div>
<div class="flex justify-center">
    <div class="flex flex-col justify-center">
        {% include 'spendenbarometer/barometerbig.html' %}
        <div class="mt-6 m-auto tex-md w-36">
            Zusagen Genossenschaftsanteile {{ ZusGen.calc_balance }} €
        </div>
    </div>

    <div class="flex flex-col justify-center">
        <div class=" absolute ">
            {% include 'spendenbarometer/barometersmall.html' %}
            <div class="mt-6 m-auto tex-md w-36 ">
                Zusagen Direktkredite <br/>{{ ZusDk.calc_balance }} €
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}

<style>

</style>